Paper/*.aux
Paper/*.log
Paper/*.out
Paper/*.pdf
Paper/*.synctex.gz
Paper/*.upa
Paper/*.upb
Paper/*.bbl
Paper/*.blg
Paper/biblio.tex
library.bib
Paper/out/
Paper/__latexindent_temp.tex
Paper/img/*converted*.pdf

Scripts/FCE_Parser/data/*
Scripts/FCE_Parser/results/*
Scripts/data/*
Scripts/results/*

Scripts/CONLL14_Parser/data/*